<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- set date value -->
<bean id="dob" class="java.util.Date" p:year="90" p:month="11" p:date="30"/>
<bean id="dos" class="java.util.Date" p:year="88" p:month="01" p:date="24"/>

<!-- inject the vale -->
<bean id="dept" class="com.rk.beans.Department" c:dno="1010" c:dname="cse" c:dos-ref="dos"/>
<bean id="emp" class="com.rk.test.Employe" p:eno="2020" p:ename="rakesh" p:dob-ref="dob" p:dept-ref="dept"/>

</beans>
