<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- cfg Spring bean class -->
<bean id="stud" class="com.rk.comp.Student">

<constructor-arg value="101"/>
<constructor-arg value="raja"/>
<constructor-arg value="hyd"/>
<constructor-arg value="85.88"/>

<!-- <property name="sno" value="101"/>  -->
 <property name="sname" value="raja"/>
 <property name="sadd" value="bbs"/> -->

</bean>

</beans>
